
body {
    font-family: Arial, sans-serif;
    /*background-image: url('resources/-MY24-KTM-SX-MINI-RANGE-action-3.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.promo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #FF6600;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .3s ease-in-out, color .3s, border-color .3s;
}

.btn:hover {
    background-color: transparent;
    color: #ff6600;
    border-color: #ff6600;
    border-style: solid;
}

.ktm-logo {
    margin-left: auto;
}

.ktm-logo img, .navbar img {
    height: 73px;
}

.slide.current {
    z-index: 2; /* bring the current slide to the front */
    opacity: 1; /* make the current slide visible */
}

.nav-line {
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 3px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s;
    color: white;
}

.nav-line:hover {
    transform: scale(1.5);
    background-color: #FF6600;
}

header {
    position: relative;
    width: 100%;
    height: 100vh; /* make the header full screen */
    overflow: hidden;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* ensure the image covers the full slide */
    background-position: center; /* center the background image */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* space out the navbar and promo-text */
    z-index: 1; /* added to stack slides behind each other */
    opacity: 0; /* by default all slides are hidden */
    transition: opacity 0.5s; /* smooth transition when changing slides */
}

.promo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px; /* adjust as needed */
}

.slider-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
}

.back-to-top
{
    color: #FF6600;
    text-align: right;
    margin-right: 10px;
}

.back-to-top:hover
{
    cursor: pointer;
}

.video-container iframe {
    /* Ensure the video fills the header, use object-fit to cover the area without stretching the video */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Assuming you want white text */
    text-align: center;
    z-index: 2; /* Make sure it's above the video */
}

.header-content button {
    background-color: #ff6600;
    border: none;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bike-gallery {
    text-align: center;
    padding: 50px 0;
    background-color: #333; /* or any color you prefer */
    color: white;
}

.gallery-title {
    margin-bottom: 30px;
    font-size: 2em;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.bike {
    margin: 20px;
}

.bike img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.bike h3 {
    font-size: 1.5em;
}

.bike p {
    font-size: 1em;
}

/* Contact Form Section */
.contact-form-section {
    max-width: 600px;
    margin: 20px auto 20px auto;
    padding: 20px;
    background-color: #333;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-form-title {
    text-align: center;
    color: #ff6600;
    text-transform: uppercase;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    padding-right: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s, border-color .3s;
}

.submit-btn:hover {
    background-color: transparent;
    color: #ff6600;
    border-color: #ff6600;
    border-style: solid;
}

footer {
    background-color: #000; /* or the color you prefer */
    color: white;
    padding: 16px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countdown{
    font-size: 10px;
}

/* Adjustments for the countdown and back-to-top for smaller screens if needed */
@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
    }

    .countdown {
        margin-bottom: 10px;
        font-size: 2px;
    }

    .countdown p{
        font-size: 2px;
    }
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    margin-top: 0;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-item a{
    color: white;
    text-decoration: none;
}

.footer-item a:hover{
    color: #FF6600;
}

.footer-social-icons {
    display: flex;
}

.footer-social-icons a {
    margin-right: 10px;
}