
body {
    font-family: Arial, sans-serif;
    /*background-image: url('resources/-MY24-KTM-SX-MINI-RANGE-action-3.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.promo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #FF6600;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .3s ease-in-out, color .3s, border-color .3s;
}

.btn:hover {
    background-color: transparent;
    color: #ff6600;
    border-color: #ff6600;
    border-style: solid;
}

.ktm-logo {
    margin-left: auto;
}

.ktm-logo img, .navbar img {
    height: 73px;
}

.slide.current {
    z-index: 2; /* bring the current slide to the front */
    opacity: 1; /* make the current slide visible */
}

.nav-line {
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 3px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s;
    color: white;
}

.nav-line:hover {
    transform: scale(1.5);
    background-color: #FF6600;
}

header {
    position: relative;
    width: 100%;
    height: 100vh; /* make the header full screen */
    overflow: hidden;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* ensure the image covers the full slide */
    background-position: center; /* center the background image */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* space out the navbar and promo-text */
    z-index: 1; /* added to stack slides behind each other */
    opacity: 0; /* by default all slides are hidden */
    transition: opacity 0.5s; /* smooth transition when changing slides */
}

.promo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px; /* adjust as needed */
}

.slider-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
}

footer {
    background-color: #000; /* or the color you prefer */
    color: white;
    padding: 16px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countdown{
    font-size: 10px;
}

/* Adjustments for the countdown and back-to-top for smaller screens if needed */
@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
    }

    .countdown {
        margin-bottom: 10px;
        font-size: 2px;
    }

    .countdown p{
        font-size: 2px;
    }
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    margin-top: 0;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-item a{
    color: white;
    text-decoration: none;
}

.footer-item a:hover{
   color: #FF6600;
}

.footer-social-icons {
    display: flex;
}

.footer-social-icons a {
    margin-right: 10px;
}

.back-to-top
{
    color: #FF6600;
    text-align: right;
    margin-right: 10px;
}

.back-to-top:hover
{
    cursor: pointer;
}

.video-container iframe {
    /* Ensure the video fills the header, use object-fit to cover the area without stretching the video */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Assuming you want white text */
    text-align: center;
    z-index: 2; /* Make sure it's above the video */
}

.header-content button {
    background-color: #ff6600; /* KTM brand color */
    border: none;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Add more styling as needed */
}

.bike-gallery {
    text-align: center;
    padding: 50px 0;
    background-color: #333; /* or any color you prefer */
    color: white;
}

.gallery-title {
    margin-bottom: 30px;
    font-size: 2em;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.bike {
    margin: 20px;
}

.bike img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.bike h3 {
    font-size: 1.5em;
}

.bike p {
    font-size: 1em;
}

.main {
    padding: 50px 0;
    text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* This will create as many columns as can fit in the container */
    gap: 20px; /* This is the space between the images */
    padding: 20px; /* This adds some space inside the container */
    margin-bottom: 50px; /* This adds space below the container */
    align-items: center;
    align-content: center;
}

.main-container img {
    width: 75%; /* This makes the image fill the column */
    height: auto; /* This maintains the aspect ratio of the image */
    transition: transform 0.3s ease-in-out; /* This adds a smooth transition effect when scaling the image */
}

.main-container img:hover {
    transform: scale(1.05); /* This will scale the image to 105% of its size on hover */
}


.articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    gap: 20px; /* Space between the columns */
    margin-bottom: 50px; /* Space below the grid */
    padding: 0 30px;
}

.article-card {
    background-color: #fff; /* Article card background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Simple box shadow for styling */
    border-radius: 5px; /* Rounded corners for the card */
    overflow: hidden; /* Makes sure nothing spills out of the card */
    transition: transform 0.3s ease-in-out;
}
.article-card:hover
{
    transform: scale(1.05);
}

.article-card img {
    width: 100%; /* Image takes full width of the card */
    display: block; /* Removes any inline spacing */
}

.article-content {
    padding: 20px; /* Padding inside the card for the content */
}

.article-title {
    font-size: 18px; /* Title font size */
    margin-bottom: 10px; /* Space below the title */
}

.article-date {
    font-size: 14px; /* Date font size */
    color: #666; /* Date text color */
    margin-bottom: 15px; /* Space below the date */
}

.article-excerpt {
    font-size: 16px; /* Excerpt font size */
    line-height: 1.6; /* Excerpt line height */
}

/* Responsive behavior */
@media (max-width: 1024px) {
    .articles-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }
}

@media (max-width: 768px) {
    .articles-grid {
        grid-template-columns: 1fr; /* One column on very small screens */
    }
}
